body{
    background-color: #DFDFDF;
}

h2{
    color: #83562e;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

hr{
    width: 800px;
    height: 3px;
    background-color: #ffd9be;
}

.wrapper {
    max-width: 840px;
    margin: 0 auto;
  } 

  .content_card {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.43);
  }
  
  .content_card img {
    width: 40%;
    height: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 8px;
  } 
